<div class="profile-container">
    <h2>Gestión de Perfil</h2>
  
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
      <div class="form-group">
        <label for="profilePic">Foto de Perfil</label>
        <input type="file" id="profilePic" (change)="onFileSelected($event)">
        <img [src]="profilePhotoUrl" alt="Foto de perfil" *ngIf="profilePhotoUrl" />
      </div>
  
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" type="text" placeholder="Escribe tu nombre">
      </div>
  
      <div class="form-group">
        <label for="career">Carrera</label>
        <input id="career" formControlName="career" type="text" placeholder="Escribe tu carrera">
      </div>
  
      <div class="form-group">
        <label for="year">Año Académico</label>
        <input id="year" formControlName="year" type="number" placeholder="Escribe tu año académico">
      </div>
  
      <div class="form-group">
        <label for="privacy">Privacidad</label>
        <select id="privacy" formControlName="privacy">
          <option value="public">Público</option>
          <option value="private">Privado</option>
        </select>
      </div>
  
      <button type="submit" [disabled]="profileForm.invalid">Guardar Cambios</button>
    </form>
  </div>
  
