<body>
  <div>
    <div class="register">
      <h2>Registro</h2>
      <form [formGroup]="form" (ngSubmit)="Submit()">
        <label for="name">Nombre</label>
        <input 
          type="text" 
          id="name" 
          name="name" 
          placeholder="Ingresa tu nombre" 
          formArrayName="name"
          required 
        />
        <br />
  
        <label for="apell">Apellido</label>
        <input 
          type="text" 
          id="apell" 
          name="apell" 
          placeholder="Ingresa tu apellido" 
          formControlName="apell"
          required 
        />
        <br />
  
        <label for="email">Email</label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          placeholder="Ingresa tu correo electrónico" 
          formControlName="email"
          required 
        />
        <br />
  
        <label for="password">Contraseña</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          placeholder="Crea una contraseña" 
          formControlName="password"
          required 
        />
        <br />
  
        <label for="confirmPassword">Confirmar contraseña</label>
        <input 
          type="password" 
          id="confirmPassword" 
          name="confirmPassword" 
          placeholder="Confirma tu contraseña" 
          formControlName="confirmPassword"
          required 
        />
        <br />
        
        <div *ngIf="form.get('password')?.value !== form.get('confirmpassword')?.value" class="error-message">
          Las contraseñas no coinciden
        </div>
  
        <button 
          type="submit" 
          [disabled]="form.invalid || form.get('password')?.value !== form.get('confirmpassword')?.value">
          REGISTRARSE
        </button>
      </form>
      <div class="login-link">
        ¿Ya tienes una cuenta? <a routerLink="/autenticacion/lo-gin">Inicia sesión</a>
      </div>
    </div>
</div>
  

</body>
